# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\EDL\2021-2022\TP EDL 2021\TP1\Projets\TP0 - Projets_de_base\TP_JAJA_Maven-master_Jenkins\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
